<template name="search">
    <div class="row">
        <div class="col-sm-10 col-md-10">
            <form class="navbar-form" role="search">
                <div class="input-group" style="width:100%;">
                    <input type="text" class="form-control" placeholder="Search" name="query">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{#each searchresult}}
    <div class="row">
        <div class="col-md-11">
            <div class="post">
                <h3><a href="article/{{ pk }}/">{{ title }}</a></h3>
                <p class="meta">
                    {{ formatDate created }}
                    by <a href="#">{{  author }}</a>
                </p>
               {{#markdown}} {{ truncatewords body 50 }} {{/markdown}}
            </div>
        </div>

    </div>
    {{/ each}}
</template>