<template name="article_detail">
    <div class="post" >
        {{#each article}}
        {{#if articleExists}}
        <h2><a href="#">{{ title }}</a></h2>

        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true"
          data-href="http://localhost:3000/article/{{pk}}">
        </div>
        <p class="meta">
            {{ formatDate created}}
            by <a href="#">{{ author }}</a>
        </p>
        <p>
            <img src="{{ hero_image}}" class="img-responsive">
        </p>
        {{#markdown}} {{ body}} {{/markdown}}
        {{else}}
        <p>Sorry! This article does not exist.</p>

        {{/ if}}
        {{/ each}}
    </div>

    <div id="read_next">
        <div class="row">
            <hr>
            <div class="clearfix">
                <div class="pull-left">
                    <h2>What to read next?</h2>
                </div>
                <div class="pull-right">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
            </div>

            <hr>
        </div>
        <div class="row">
            {{#each readnext}}
            <div class="col-sm-4 col-md-3">

                <div class="thumbnail">
                    <div style="height:100px;overflow:hidden;">
                        <a href="/article/{{ pk }}/"> <img src="{{ hero_image }}" alt="{{ slug }}"></a>
                    </div>

                    <a href="/article/{{ pk }}/"><h4>{{ title }}</h4></a>

                </div>

            </div>
            {{/ each}}
        </div>
    </div>

</template>